# This is Git's per-user configuration file.
[user]
	email = pedro.j.mass@gmail.com
	name = Pedro Mass
[commit]
	template = ~/.gitmessage
[alias]
	# List aliases
	aliases = config --get-regexp alias
	# shows these aliases
	alias = !git aliases
	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD
	branches = branch -a
	# remove branches that have been merged to current branch
  cleanup = "!git branch --merged | grep -v -E '(\\*|master|dev|test)' | xargs -n1 git branch -d"
  cleanup-force = "!git branch --merged | grep -v -E '(\\*|master|dev|test)' | xargs -n1 git branch -D"
	cf = "!git cleanup-force"
	co = checkout
	cob = checkout -b
	edit-config = config --global -e
	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	# shows one line logs
	log-pretty = log --pretty=oneline --abbrev-commit
	log-stat = log --stat
	# Undo the last commit
	reset = reset --hard HEAD --mixed
	remotes = remote -v
	# short status
	s = status -sb
	# stash everything (including untracked), except for staged changes
	stash-everything = stash --include-untracked --keep-index
	se = !git stash-everything
	tags = tag -l
	# Undo the last commit
	undo = reset HEAD~1 --mixed
	# Use for updating a branch. Removes unused branches, and moves local commits to the end
	u = !git update
	update = pull --rebase --prune
	# This adds and commits all current files to WIPE SAVEPOINT. Then moves back a commit
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
	
[help]
	autocorrect = 1
[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/Pedro.Mass/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pager]
	branch = false
	stash = false
[push]
	default = upstream
