# This is Git's per-user configuration file.
[user]
	email = pedro.j.mass@gmail.com
	name = Pedro Mass
[commit]
  template = ~/.gitmessage
[alias]
	# Use for updating a branch. Removes unused branches, and moves local commits to the end
	u = !git update
	update = pull --rebase --prune
	co = checkout
	cob = checkout -b
	edit-config = config --global -e
	# Undo the last commit
	reset = reset --hard HEAD --mixed
	# Undo the last commit
	undo = reset HEAD~1 --mixed
	# Updates the last commit's message
	amend = commit -a --amend
	# This adds and commits all current files to WIPE SAVEPOINT. Then moves back a commit
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
	# shows these aliases
	alias = config --get-regexp alias
	# shows one line logs
	log-pretty = log --pretty=oneline --abbrev-commit
	log-stat = log --stat
	# prune local branches that have been merged with master
	prune-local = !git branch --merged master --no-color | grep -v '^* master$' | xargs -n1 git branch -d
	pl = !git prune-local
	# short status
	s = status -sb

	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	
	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# List aliases
	aliases = config --get-regexp alias

	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD
[help]
	autocorrect = 1
[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true